@page "/recover/password"
@using Quanda.Shared.DTOs.Requests
@inject IUsersRepository _usersRepository
@inject IToastService _toastService

<label class="d-block text-muted">Please fill in fields bellow with the data you provided during registration </label>
<RecoveryFormComponent @ref="_recoveryFormComponent" SubmitText="Recover password" IsPending="_isPending" OnValidSubmit="HandleValidSubmit" />

@code {
    private bool _isPending;
    private RecoveryFormComponent _recoveryFormComponent;

    private async Task HandleValidSubmit(RecoverDTO recoverDto)
    {
        var captchaResponseToken = await _recoveryFormComponent.CaptchaComponent.GetCaptchaResponseAsync();
        if (captchaResponseToken is null)
        {
            _toastService.ShowError("reCaptcha must be completed.");
            return;
        }
        _recoveryFormComponent.SetFormCaptchaToken(captchaResponseToken);

        _isPending = true;
        StateHasChanged();

        var isCaptchaCorrect = await _usersRepository.RecoverPasswordAsync(recoverDto);
        if (!isCaptchaCorrect)
        {
            _toastService.ShowError("reCaptcha must be completed.");
        }
        else
        {
            _toastService.ShowSuccess("Password recovery email has been send.");
            _recoveryFormComponent.ClearForm();
        }

        _isPending = false;
        await _recoveryFormComponent.CaptchaComponent.ResetCaptchaAsync();
    }
}
