@page "/recover/password"

@using Quanda.Client.Components
@using Quanda.Shared.DTOs.Requests
@inject IUsersRepository _usersRepository

<label class="d-block text-muted">Please fill in fields bellow with the data you provided during registration </label>
<RecoveryFormComponent SubmitText="Recover password" IsPending="_isPending" OnValidSubmit="HandleValidSubmit" />

@if (_isEmailSend == true)
{
    <label class="d-block text-success">Password recovery email for connected account has been resend, please check your inbox</label>
}
else if (_isEmailSend == false)
{
    <label class="d-block text-danger">Password recovery email has already been resend for the given email, please check your inbox</label>
}

@code {
    private static readonly List<string> EmailsProvided = new();

    private bool _isPending;

    private bool? _isEmailSend;

    private async Task HandleValidSubmit(RecoverDTO recoverDto)
    {
        _isEmailSend = null;
        _isPending = true;

        if (EmailsProvided.Contains(recoverDto.Email))
        {
            _isEmailSend = false;
        }
        else
        {
            await _usersRepository.RecoverPasswordAsync(recoverDto);
            EmailsProvided.Add(recoverDto.Email);
            _isEmailSend = true;
        }

        _isPending = false;
    }
}
