@page "/recover/password/reset"
@using Quanda.Client.Extensions
@inject NavigationManager _navManager

@if (_isQueryStringValid == false)
{
    <label class="d-block text-danger">Something is wrong. Please try to recover your password again.</label>
    return;
}

<label class="d-block text-muted">Please fill in fields bellow with the data you provided during registration </label>
<PasswordResetFormComponent IdUser="@_idUser"
                            UrlEncodedRecoveryJwt="@_urlEncodedRecoveryJwt"/>

@code {

    /// <summary>
    ///     Zmienna mowiaca o poprawnosci queryParametrow
    /// </summary>
    private bool? _isQueryStringValid;

    /// <summary>
    ///     Id uzytkownika resetujacego haslo
    /// </summary>
    private int _idUser;

    /// <summary>
    ///     Zakodowany token JWT wydany dla uzytkownika resetujacego haslo
    /// </summary>
    private string _urlEncodedRecoveryJwt;

    /// <summary>
    ///     Metoda pobierajaca oraz sprawdzajaca poprawnosc query parametrów z adresu URL
    /// </summary>
    protected override void OnInitialized()
    {
        var uuidFromQuery = _navManager.ExtractQueryStringByKey<int?>("uuid");
        var recoveryTokenFromQuery = _navManager.ExtractQueryStringByKey<string>("recovery_token");

        if (uuidFromQuery is null || string.IsNullOrEmpty(recoveryTokenFromQuery))
        {
            _isQueryStringValid = false;
            return;
        }

        _idUser = (int) uuidFromQuery;
        _urlEncodedRecoveryJwt = recoveryTokenFromQuery;
    }

}