@page "/recover/password/reset"
@using Quanda.Client.Extensions
@using System.Net
@inject NavigationManager _navManager
@inject IToastService _toastService
@inject IUsersRepository _usersRepository

<AuthenticationPageDisplay>
    <TopSemicircleComponent />
    <RecoveryContainerComponent Title="Password reset" Description="To reset your password, please enter your new password bellow.">
        <GenericFormComponent Model="@_passwordResetDto" @ref="_form" OnValidSubmit="@ResetPasswordAsync" IsAutoCompleteOn="false" RequireCaptcha="true">
            <FormInputComponent Type="text" @bind-Value="@_passwordResetDto.RawPassword" Placeholder="New password" />
            <div class="mb-2 w-100">
                <FormSubmitComponent IsPending="@_isPending" SubmitText="Recover password" PendingSubmitText="Processing..." />
            </div>
        </GenericFormComponent>
    </RecoveryContainerComponent>
</AuthenticationPageDisplay>

@code {

    

}