@page "/login"

<AuthenticationPageDisplay>
    <TopSemicircleComponent />
    <div class="center-container">
        <h1 class="title">Log in</h1>
        <LoginFormComponent ReturnUrl="@_returnUrl" />
        <div class="line">
            <span class="line-text">OR</span>
        </div>
        <ExternalServicesComponent FacebookText="Log in with Facebook" GoogleText="Log in with Google" />
        <div>
            <p class="bottom-text">Don't have an account?</p>
            <NavLink href="/register">
                <p class="bottom-link">Sign up!</p>
            </NavLink>
        </div>
    </div>
</AuthenticationPageDisplay>

@code {
    /// <summary>
    ///     Zmienna mówiąca na jaki adres URL przenieść użytkownika po poprawnym zalogowaniu
    /// </summary>
    private string _returnUrl;

    [Inject] public NavigationManager NavigationManager { get; set; }

    /// <summary>
    ///     Metoda wyciągająca z QueryStringu wartość pod kluczem returnUrl;
    /// </summary>
    protected override void OnInitialized()
    {
        _returnUrl = NavigationManager.ExtractQueryStringByKey<string>("returnUrl");
    }
}
