body, html {
    margin: 0;
    padding: 20px;
    background-color: #212129;
    color: #ccc;
}

.questions-list-container {
    font-family: 'Nunito', sans-serif;
}

.questions-sorting-label {
    float: right;
    font-size: smaller;
    color: #aaa;
    margin-left: auto;
    margin-right: 0;
}

.questions-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.questions-heder-field {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.questions-heder-field-value {
    margin-left: 10px;
}

.questions-sorting-options {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    min-width: fit-content;
}

.questions-sorting-option {
    cursor: pointer;
    padding: 10px 20px;
    border: #ccc solid 1px;
}

.questions-sorting-option:hover {
    background-color: #35363a;
}

.questions-sorting-option-active {
    background-color: #60616a !important;
}

.questions-tags-container {
    display: flex;
    flex-flow: row;
    background-color: #323949;
    width: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 100%;
    height: 60px;
    align-items: center;
    border-radius: 5px;
}

.questions-tag {
    display: flex;
    margin-left: 5px;
    background-color: #60616a;
    border-radius: 5px;
    max-width: max-content;
}

.questions-tag-val {
    padding: 10px 20px;
}

.questions-tag-close {
    color: rgb(173, 34, 34);
    margin-left: auto;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: max-content;
}

.questions-tag-close:hover {
    color: red;
    cursor: pointer;
}

.questions-tag-select {
    padding: 10px 20px;
    background: none;
    border: #60616a dotted 1px;
    cursor: pointer;
    min-width: fit-content;
}

.questions-tag-select:hover {
    color: #ddd;
    border: #b9bbca dotted 1px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: #ccc;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #60616a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8e909e;
}
