@page "/questions"
@using Quanda.Shared.Enums
@inject IQuestionsReposiotry _questionsReposiotry
@inject ITagsReposiotry _categoriesReposiotry
<div class="questions-list-container">
    <h1>Pytania</h1>
    <div class="questions-header" style="margin-bottom: 0;">
        <div class="questions-sorting-label">Sortowanie</div>
    </div>
    <div class="questions-header">
        <div class="questions-heder-field">
            <div class="questions-heder-field-label">
                Ilość pytań:
            </div>
            <div class="questions-heder-field-value">
                @questionAmount
            </div>
        </div>
        <div class="questions-sorting-options">
            @if (activeSorting == 0)
            {
                <div class="questions-sorting-option questions-sorting-option-active">
                    Data publikacji
                </div>
            }
            else
            {
                <div class="questions-sorting-option questions-sorting-option" @onclick="() => SetSorting(0)">
                    Data publikacji
                </div>
            }
            @if (activeSorting == 1)
            {
                <div class="questions-sorting-option questions-sorting-option-active">
                    Ilość wyświetleń
                </div>
            }
            else
            {
                <div class="questions-sorting-option questions-sorting-option" @onclick="() => SetSorting(1)">
                    Ilość wyświetleń
                </div>
            }
            @if (activeSorting == 2)
            {
                <div class="questions-sorting-option questions-sorting-option-active">
                    Ilość odpowiedzi
                </div>
            }
            else
            {
                <div class="questions-sorting-option questions-sorting-option" @onclick="() => SetSorting(2)">
                    Ilość odpowiedzi
                </div>
            }
        </div>
    </div>
    <div class="questions-tags-label">
        Tagi:
    </div>
    <div class="questions-header">
        <div class="questions-tags-container">
            @foreach (var cat in selectedCategories)
            {
                <div class="questions-tag">
                    <div class="questions-tag-val">
                        @categories.Where(cate => cate.IdTag == cat).First().Name
                    </div>
                    <div class="questions-tag-close" @onclick="() => CategoryDeSelected(cat)">
                        x
                    </div>
                </div>
            }
            <div class="questions-tag questions-tag-select" @onclick="ChangePopUpStatus">
                Wybierz tag...
            </div>
        </div>
    </div>
    @if (questions != null)
    {
        @foreach (var que in questions)
        {
            <QuestionInListComponent question="que"/>
        }
    }
</div>
@if (questionAmount != 0)
{
    <div class="questions-pagination">
        <PaginationComponent ElementsSize=questionAmount PageSize=10 PageSelectedListener="ChangeActivePage" ActualPage="activePage"/>
    </div>
}

@if (categoriesPopUpOpen)
{
    <CategoriesPopUpComponent Categories="categories" CategorySelected="CategorySelected" CategoryDeSelected="CategoryDeSelected" PopUpClosed="ChangePopUpStatus" SelectedCategories="selectedCategories"/>
}

@code {

    /// <summary>
    ///     Wyliczalny parametr opisujący ile jest pytań według wybranych kategorii
    /// </summary>
    private int questionAmount;

    /// <summary>
    ///     Int opisujący aktualnie wybraną opcję sortowania:
    ///     0 => SortOptionEnum.Date,
    ///     1 => SortOptionEnum.Views,
    ///     2 => SortOptionEnum.Answers
    /// </summary>
    private int activeSorting;

    /// <summary>
    ///     Numer aktualnie przeglądanej strony
    /// </summary>
    public int activePage;

    /// <summary>
    ///     Lista id aktualnie wybranych kategorii
    /// </summary>
    private readonly List<int> selectedCategories = new();

    /// <summary>
    ///     Lista wszystkich kategorii w BD
    /// </summary>
    private List<TagResponseDTO> categories { get; set; }

    /// <summary>
    ///     Lista pytań na danej stronie posortowana według wybranej opcji opisanej po przez zmienną activeSorting
    /// </summary>
    public List<GetQuestionsDTO> questions { get; set; }

    /// <summary>
    ///     Zmienna informuje czy okno z listą kategorii jest wyświetlone
    /// </summary>
    private bool categoriesPopUpOpen;

    protected override async Task OnInitializedAsync()
    {
        await GetQuestions();
        categories = await _categoriesReposiotry.GetTags();
        await GetQuestionsAmount();
    }

    /// <summary>
    ///     Funkcja która pobiera z BD listę pytań uwzględniając aktualną stronę, wybrane sortowanie oraz wybrane kategorie
    /// </summary>
    /// <returns></returns>
    private async Task GetQuestions()
    {
        questions = await _questionsReposiotry.GetQuestions(activePage, activeSorting switch
        {
            0 => SortOptionEnum.Date,
            1 => SortOptionEnum.Views,
            2 => SortOptionEnum.Answers
            }, selectedCategories);
    }

    /// <summary>
    ///     Funkcja która pobiera z bazy danych ilość pytań która posiadają wybrane tagi
    /// </summary>
    /// <returns></returns>
    private async Task GetQuestionsAmount()
    {
        questionAmount = await _questionsReposiotry.GetQuestionsAmount(selectedCategories);
    }

    /// <summary>
    ///     Funkcja która zmienia aktualny tryb sortowania
    /// </summary>
    /// <param name="i">
    ///     Opisuje tryb sortowania
    ///     0 => SortOptionEnum.Date,
    ///     1 => SortOptionEnum.Views,
    ///     2 => SortOptionEnum.Answers
    /// </param>
    /// <returns></returns>
    private async Task SetSorting(int i)
    {
        activeSorting = i;
        await GetQuestions();
        StateHasChanged();
    }

    /// <summary>
    ///     Funkcja dodaje Id kategorii listy wybranych kategorii
    /// </summary>
    /// <param name="i">Id wybranej kategorii</param>
    /// <returns></returns>
    private async Task CategorySelected(int i)
    {
        activePage = 0;
        selectedCategories.Add(i);
        await GetQuestions();
        await GetQuestionsAmount();
        StateHasChanged();
    }

    /// <summary>
    ///     Funkcja usuwa Id kategorii listy wybranych kategorii
    /// </summary>
    /// <param name="i">Id wybranej kategorii</param>
    /// <returns></returns>
    private async Task CategoryDeSelected(int i)
    {
        activePage = 0;
        selectedCategories.Remove(i);
        await GetQuestions();
        await GetQuestionsAmount();
        StateHasChanged();
    }

    /// <summary>
    ///     Funkcja która zmienia stan widoczności komponentu z listą wszystkich kategorii
    /// </summary>
    private void ChangePopUpStatus()
    {
        categoriesPopUpOpen = !categoriesPopUpOpen;
        StateHasChanged();
    }

    /// <summary>
    ///     Funkcja która zmienia aktualnie wyświetlaną stronę
    /// </summary>
    /// <param name="i">Numer wyświetlanej strony</param>
    /// <returns></returns>
    private async Task ChangeActivePage(int i)
    {
        activePage = i;
        await GetQuestions();
        StateHasChanged();
    }

}