.center-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 27px;
    margin: 2rem 0 1rem 0;
}

.line {
    border-top: 2px solid;
    line-height: 0;
    margin: 2rem 0;
    max-width: 374px;
    text-align: center;
    width: 100%;
}

.light-mode
.line {
    border-color: #707070;
}

.dark-mode
.line {
    border-color: #F6F6F6;
}

.line-text {
    font-size: 20px;
    padding: 0 1.5rem;
}

.light-mode
.line-text {
    background-color: #F6F6F6;
    color: #707070;
}

.dark-mode
.line-text {
    background-color: #49555C;
}

.bottom-text {
    display: inline-block;
}

.light-mode
.bottom-text {
    color: #707070;
}

.bottom-link {
    color: #f08782;
    display: inline-block;
    margin-left: 0.6rem;
}
