@implements IDisposable
<div class="right-shared @(RightMenuStateService.RightMenuType==RightMenuType.NONE ? "right-hidden" : "")">
    @switch (RightMenuStateService.RightMenuType)
    {
        case RightMenuType.STANDARD:
            <RightStandard />
            break;
        case RightMenuType.QUESTIONS:
            <RightAsk />
            break;
    }
</div>
