<div class="box">
    <h4>How to add</h4>
    <p>
        Create Topic, that will summarize your issue.<br/>
        Use formatting to make your post look more understabable.<br/>
        <b>Remember! Without premium you can ask only once a day!</b>
    </p>
</div>
<div class="box">
    <h4>Some rules</h4>
    <p>
        Before posting, please check if question for your answer is already submited.<br/>
        Try to describe as much as you can. The more info you give, the more chances are that someone will help you <br/>
        Don't post questions that violates our <a href="/policy" class="box-link">policy</a> <br/>
    </p>
</div>
<div class="premium-box box">
    <h4>Dont't like limits?</h4>
    <i>Unlock your potential with limitless access to knowledge.</i>
    <div class="premium-scope">
        <div class="icon-check icon-premium"></div>
        <b>Ask as many questions a day as you want!</b>
    </div>
    <div class="premium-scope">
        <div class="icon-check icon-premium"></div>
        <div>Got into doubt? Ask a user about it in a private message!</div>
    </div>
    <div class="premium-scope">
        <div class="icon-check icon-premium"></div>
        <b>Annoyed by ads? Get rid of them!</b>
    </div>
    <a class="premium-button">
        Buy premium
    </a>
</div>