@inject IJSRuntime _js

<div @ref="_captchaElement"></div>

@code {

    /// <summary>
    ///     Referencja do <div></div> będącego captchą
    /// </summary>
    private ElementReference _captchaElement;

    /// <summary>
    ///     Id captchy wygenerowane po jej wyrenderowaniu
    /// </summary>
    private int _widgetUniqueId;

    //todo - should come from configuration
    /// <summary>
    ///     Google API - publiczny klucz captcha
    /// </summary>
        private const string SiteKey = "6LcAdJYbAAAAAPKLVRM3QTVqqv05ylLQO03sgX3w";

    /// <summary>
    ///     Metoda renderująca captche
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _widgetUniqueId = await _js.InvokeAsync<int>("grecaptcha.render",
                _captchaElement, new
                {
                    sitekey = SiteKey
                });
        }
    }

    /// <summary>
    ///     Metoda pobierająca rezultat z captchy
    /// </summary>
    /// <returns></returns>
    public async Task<string> GetCaptchaResponseAsync()
    {
        try
        {
            var responseToken = await _js.InvokeAsync<string>("grecaptcha.getResponse", _widgetUniqueId);
            return responseToken.Length <= 0 ? null : responseToken;
        }
        catch
        {
            return null;
        }
    }

    /// <summary>
    ///     Metoda resetująca captche
    /// </summary>
    /// <returns></returns>
    public async Task ResetCaptchaAsync()
    {
        await _js.InvokeAsync<object>("grecaptcha.reset", _widgetUniqueId);
    }

}
