.categories-popup {
    background-color: #262626;
    border: #ccc 1px solid;
    border-radius: 15px;
    bottom: 0;
    box-shadow: 5px 5px 10px #323949;
    font-family: 'Nunito', sans-serif;
    height: 600px;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    z-index: 10000;
}

.categories-popup-up {
    background-color: #ccc;
    border-radius: 15px;
    height: 450px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    overflow-y: scroll;
    padding: 10px;
}

.categories-popup-down {
    display: flex;
    padding: 20px;
}

.categories-popup-up-list { padding-left: 30px; }

.categories-first-level-category {
    display: flex;
    font-size: x-large;
    font-weight: bolder;
}

.categories-second-level-category {
    display: flex;
    padding-left: 20px;
}

.category-popup-text {
    color: #212129 !important;
    cursor: pointer;
    display: flex;
}

.category-popup-text-expand {
    color: #212129 !important;
    cursor: pointer;
    margin-right: 5px;
}

.categories-popup-input {
    font-size: large;
    padding: 20px;
}

.categories-popup-close-btn {
    margin-left: auto;
    margin-right: 0;
    padding: 20px;
}

.category-popup-close {
    color: rgb(153, 19, 19) !important;
    cursor: pointer;
    padding-left: 10px;
}

.category-popup-close:hover { color: red !important; }

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #60616a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { background: #8e909e; }