<button @onclick="@FacebookAction" class="@(!IsWhiteTheme ? "button-dark" : "")">
    <img src="img/facebook.svg" alt="facebook">
    <span>
        @FacebookText
    </span>
</button>
<button @onclick="@GoogleAction" class="@(!IsWhiteTheme ? "button-dark" : "")">
    <img src="img/google.svg" alt="google">
    <span>
        @GoogleText
    </span>
</button>


@code {

    /// <summary>
    ///     Zmienna informująca jaki jest aktualny theme
    /// </summary>
    [CascadingParameter]
    public bool IsWhiteTheme { get; set; }

    /// <summary>
    ///     Tekst wyświetlany na przycisku facebook
    /// </summary>
    [Parameter]
    public string FacebookText { get; set; }

    /// <summary>
    ///     Tekst wyświetlany na przycisku google
    /// </summary>
    [Parameter]
    public string GoogleText { get; set; }

    /// <summary>
    ///     Metoda wywoływana po kliknięciu przyciku facebook
    /// </summary>
    [Parameter]
    public EventCallback FacebookAction { get; set; }

    /// <summary>
    ///     Metoda wywoływana po kliknięciu przyciku google
    /// </summary>
    [Parameter]
    public EventCallback GoogleAction { get; set; }

}