<button @onclick="@FacebookAction" class="external-btn">
    <img src="img/facebook.svg" alt="facebook" class="external-btn-img">
    <span class="external-btn-text">
        @FacebookText
    </span>
</button>
<button @onclick="@GoogleAction" class="external-btn">
    <img src="img/google.svg" alt="google" class="external-btn-img">
    <span class="external-btn-text">
        @GoogleText
    </span>
</button>


@code {

    /// <summary>
    ///     Tekst wyświetlany na przycisku facebook
    /// </summary>
    [Parameter]
    public string FacebookText { get; set; }

    /// <summary>
    ///     Tekst wyświetlany na przycisku google
    /// </summary>
    [Parameter]
    public string GoogleText { get; set; }

    /// <summary>
    ///     Metoda wywoływana po kliknięciu przyciku facebook
    /// </summary>
    [Parameter]
    public EventCallback FacebookAction { get; set; }

    /// <summary>
    ///     Metoda wywoływana po kliknięciu przyciku google
    /// </summary>
    [Parameter]
    public EventCallback GoogleAction { get; set; }

}