.external-btn {
    border: none;
    border-radius: 50px;
    color: #878787;
    height: 67px;
    margin-bottom: 1.6rem;
    outline: none;
    width: 401px;
}

.light-mode
.external-btn {
    background-color: #ffffff;
}

.dark-mode
.external-btn {
    background-color: #54656E;
}

.external-btn-text {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.light-mode
.external-btn-text {
    color: #878787;
}

.external-btn-img {
    height: 39px;
    width: 39px;
}
