::deep input {
    border: none;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 57px;
    margin: 0.8rem 0;
    outline: none;
    padding: 0 1.75rem;
    width: 100%;
}
.light-mode ::deep input {
    background-color: #ffffff;
    color: #878787;
}
.input-container {
    width: 100%;
}

.dark-mode .input-container
::deep input {
    background-color: #54656E !important;
    color: #94A7B0 !important;
}
