@using Quanda.Client.Authentication
@using Blazored.Toast.Configuration
@inject IAuthenticationService _authenticationService
@inject NavigationManager _navManager
@inject IToastService _toastService

<a class="side-menu-item" @onclick="@HandleLogout" >
    <div class="quanda-icon icon-logout" aria-hidden="true"></div>
    <div class="navbar-label">Log out</div>
</a>

@code {
    private async Task HandleLogout()
    {
        await _authenticationService.LogoutAsync(true);
        _toastService.ShowSuccess("You have logged out.");
    }
}
