.question-container {
    background-color: #262631;
    border: #323949 1px solid;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #323949;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.question-container a {
    color: #ccc;
    text-decoration: none !important;
}

.question-header {
    align-items: center;
    border-bottom: #323949 1px solid;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.question-text {
    font-size: x-large;
    font-weight: bolder;
}

.question-date {
    font-size: x-small;
    font-style: italic;
    margin-left: auto;
    margin-right: 0;
}

.question-categories { }

.question-category-label { padding-top: 10px; }

.question-categories-containter {
    align-items: center;
    background-color: #2a2c39;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.question-category {
    background-color: #60616a;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.question-description {
    border-bottom: #323949 1px solid;
    line-height: 23px;
    max-height: 314px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    text-overflow: ellipsis;
}

.question-footer {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.question-user-info {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.question-user-image {
    background-color: #ccc;
    border-radius: 50%;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    position: relative;
    width: 50px;
}

.question-user-image img {
    min-width: 50px;
    object-fit: cover;
    width: 50px;
}

.question-user-nick { padding-left: 10px; }

.question-user-views {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: small;
    font-style: italic;
    margin-left: auto;
    margin-right: 0;
}

.question-user-views-text { }

.question-user-views-value {
    padding-left: 5px;
    padding-right: 10px;
}

.question-user-answers {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: small;
    font-style: italic;
    margin-left: 10px;
    margin-right: 0;
}

.question-user-answers-text { }

.question-user-answers-value { padding-left: 5px; }