.question-container {
    background-color: #262631;
    border-radius: 39px;
    margin-bottom: 20px;
    padding: 20px 40px;
}

.light-mode .question-container {
    background: white;
    color: #878787;
}

.dark-mode .question-container { background-color: #3F4D54; }

.question-container a { text-decoration: none !important; }

.question-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.light-mode .question-header { color: #3F4D54; }

.question-text {
    font-family: 'Sen', sans-serif;
    font-size: x-large;
    font-weight: bolder;
}

.question-date {
    font-size: 12px;
    font-style: italic;
    margin-left: auto;
    margin-right: 0;
}

.question-tags {
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
}

.question-tag {
    background-color: #F08782 !important;
    border-radius: 25px;
    color: white !important;
    font-size: 12px;
    margin-bottom: auto;
    margin-left: 5px;
    margin-top: auto;
    padding: 5px 10px;
}

.question-description {
    line-height: 23px;
    max-height: 314px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
    text-overflow: ellipsis;
}

.light-mode .question-description { color: #878787; }

.question-footer {
    height: 70px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.dark-mode .question-details { color: #F6F6F6; }

.light-mode .question-details { color: #878787 }

.question-details {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

.question-tags-label {
    font-size: 13px;
    margin-top: 2px;
}

.light-mode .question-tags-label { color: #878787; }

.question-separator {
    height: 1px;
    width: 50%;
}

.light-mode .question-separator { background: #878787; }

.dark-mode .question-separator { background: #939393; }

.question-user-info {
    align-items: center;
    display: flex;
    flex-direction: row;
    max-width: fit-content;
}

.user-profile {
    display: flex;
    padding-right: 30px;
    width: fit-content;
}

.question-user-image {
    background-color: #ccc;
    border-radius: 50%;
    height: 50px;
    min-width: 50px;
    overflow: hidden;
    position: relative;
    width: 50px;
}

.question-user-image img {
    min-width: 50px;
    object-fit: cover;
    width: 50px;
}

.question-user-nick {
    font-family: 'Sen', sans-serif;
    padding-left: 10px;
}

.light-mode .question-user-nick { color: #3F4D54; }

.question-user-views {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: small;
    margin-left: auto;
    margin-right: 0;
}


.question-user-views-value {
    padding-left: 5px;
    padding-right: 10px;
}

.question-user-answers {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: small;
    margin-left: 10px;
    margin-right: 0;
}


.question-user-answers-value { padding-left: 5px; }