@using Quanda.Shared.Enums
@using Quanda.Client.Shared.RightMenu
@inject IQuestionsReposiotry _questionsReposiotry
@inject ITagsRepository _tagsReposiotry
<div class="questions-page">
    <div class="questions">
        <h1>Questions</h1>
        <h6 class="notbold">Questions amount: @questionAmount</h6>
        <div class="sorting-buttons-containter">
            <span class="soring-label">Sorting by:</span>
            <div class="sorting-button  @(activeSorting == SortOptionEnum.Date ? "sorting-active": "")" @onclick="() => SetSorting(SortOptionEnum.Date)">Publish date</div>
            <div class="sorting-button  @(activeSorting == SortOptionEnum.Views ? "sorting-active": "")" @onclick="() => SetSorting(SortOptionEnum.Views)">Views</div>
            <div class="sorting-button  @(activeSorting == SortOptionEnum.Answers ? "sorting-active": "")" @onclick="() => SetSorting(SortOptionEnum.Answers)">Answers</div>
        </div>
        <!--<TagSearchComponent TagSeleted="TagSelected" TagDeselected="TagDeselected"/>-->
        @if (isPending)
        {
            <LoadingIndicatorComponent/>          }
        else
        {
            @if (standardQuestions != null)
            {
                @foreach (var question in standardQuestions)
                {
                    <QuestionInListComponent question="question" />
                }
                @if (questionAmount > Config.QUESTIONS_PAGINATION_TAKE_SKIP)
                {
                    <div class="d-flex flex-row-reverse">
                        <PaginationComponent ActualPage="activePage" ElementsSize="questionAmount" PageSelectedListener="ChangeActivePage" PageSize="Config.QUESTIONS_PAGINATION_TAKE_SKIP" />
                    </div>
                }
            }
            else
            {
                <div class="no-questions w-100 d-flex justify-content-center">
                    There are no questions with selected tags. (Faktczny element będzie, kiedy powstanie projekt)
                </div>
            }
            @if (extraQuestions != null && extraQuestions.Count != 0)
            {
                <h2>You might also like</h2>
                @foreach (var question in extraQuestions)
                {
                    <QuestionInListComponent question="question" />
                }
            }
        }
    </div>
</div>