.question-container {
    display: flex;
    flex-flow: column;
    margin-bottom: 25px;
}

.question-header-info {
    display: flex;
    flex-flow: row;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #3F4D54;
    font-style: italic;
}

.question-header-text {
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #3F4D54;
}

.tag-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tag-title {
    color: #878787;
}

.tag {
    background-color: #F08782;
    border-radius: 25px;
    color: white;
    padding: 10px;
}

.text-t {
    font-style: normal;
}