.question-container {
    display: flex;
    flex-flow: column;
    margin-bottom: 25px;
}

.question-header-info {
    display: flex;
    flex-flow: row;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-style: italic;
}

.question-header-text {
    font-size: 35px;
}

.text-t {
    font-style: normal;
}

.tag-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tag {
    background-color: #F08782;
    border-radius: 25px;
    color: white;
    padding: 5px 10px 5px 10px;
    color: #F6F6F6;
}


.light-mode .gray {
    color: #3F4D54;
}

.dark-mode .white {
    color: #F6F6F6;
}

.dark-mode .text::after {
    margin-top: 20px;
    content: "";
    display: block;
    width: 75%;
    border-bottom: 1px solid #F6F6F6;
}

.dark-mode .text::before {
    margin-bottom: 20px;
    content: "";
    display: block;
    width: 75%;
    border-top: 1px solid #F6F6F6;
}