.answer-rating {
    vertical-align: top;
    font-weight: bold;
    font-size: large;
    position: center;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid;
    border-top: transparent;
    background-color: Transparent;
    outline: none;
    color: gray;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: transparent;
    border-top: 20px solid;
    background-color: Transparent;
    outline: none;
    color: gray;
}

.answer-text {
    border-style: ridge;
    border-color: gray;
    width: 50%;
}
