<div class="img-container">
    <img src="img/semicircle-gradient-background.svg" alt="semicircle gradient background" class="img-background" />
    <img src="img/logo_white_wthtext.svg" alt="quanda white logo" class="img-logo" />
</div>

@code {

}