<div class="content content-color">
    <h1 class="header">
        You can't see answers without account!
        <br />
        Create one!
    </h1>
    <a href="/register" class="create-account">
        Create free acount
    </a>
    <span class="log-in gray">
        Already have an account?
        <a href="/login" class="red">
            Log in!
        </a>
    </span> 
</div> 