<div class="content">
    <div class="header">
        You can't see answers without account!
        <br />
        Create one!
    </div>
    <a href="/register" class="create-account">
        Create free acount
    </a>
    <div class="log-in">
        Already have an account?
        <a href="/login" class="red">
            Log in!
        </a>
    </div> 
</div> 