@inherits LayoutComponentBase
<div class="background" @onclick="changeMode">
    <img class="@style toggle" src="img/@img"/>
</div>

@code {

    /// <summary>
    ///     Callback który wywołuje się w momencie zmiany
    /// </summary>
    [Parameter]
    public EventCallback<bool> EventCallback { get; set; } = default;

    /// <summary>
    ///     Zmienna która mówi jaki tryb jest włączony
    /// </summary>
    bool isWhite = true;

    /// <summary>
    ///     Aktualna klasa obrazka
    /// </summary>
    private string style = "toggle-white";

    private string img = "sun.svg";

    /// <summary>
    ///     Funkcja która zmienia mode z black na white
    /// </summary>
    public async void changeMode()
    {
        isWhite = !isWhite;
        if (isWhite)
        {
            style = "toggle-white";
            img = "sun.svg";
        }
        else
        {
            style = "toggle-black";
            img = "moon.svg";
        }
        if (!Equals(EventCallback, default(EventCallback<bool>)))
        {
            await EventCallback.InvokeAsync(isWhite);
        }
    }

}