@inherits LayoutComponentBase
@inject HttpClientInterceptorService _interceptorService
@using Quanda.Client.Authentication
@using Blazored.Toast.Configuration
@using Quanda.Client.Shared.RightMenu
@implements IDisposable

<div class="sidebar">
    <NavMenuComponent EventCallback="HandleThemeChange"/>
</div>
<div class="page @(isWhiteTheme ? "light-mode" : "dark-mode")">
    <div class="topbar">
        <TopBarComponent/>
    </div>
    <div class="page-content">
        <div class="main-page @(selectedMenu == RightMenuType.NONE ? "": "main-page-reduced")">
            <CascadingValue Value="callbackToRightMenuComponetAsValue">
                @Body
            </CascadingValue>
        </div>
        <RightShared RightMenuType="selectedMenu" />
    </div>
    <footer class="page-footer">
    </footer>
</div>


<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="3" IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                ShowProgressBar="true"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"/>