.page {
    height: 100%;
    margin-left: 90px;
    width: calc(100% - 90px);
}

.sidebar {
    background-color: #3F4D54;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    width: 90px;
    z-index: 3;
}

.topbar {
    display: flex;
    height: 90px;
    position: fixed;
    width: calc(100% - 90px);
    z-index: 2;
}
.main-page-reduced {
    width: calc(100% - 470px) !important;
}
.light-mode .topbar {
    background: white;
    box-shadow: -3px -13px 15px 13px #ccc;
}

.dark-mode .topbar {
    background: #3F4D54;
    box-shadow: -3px -13px 15px 13px #333F44;
}

.page-content {
    display: flex;
    min-height: 100vh;
    padding-top: 90px;
    width: 100%;
}

.main-page {
    display: block;
    width: 100%;
}

.page-footer {
    background-color: #3F4D54;
    height: 300px;
    width: 100%;
}