.page {
    margin-left: 90px;
    width: calc(100% - 90px);
    background-color: #f6f6f6;
    height: 100vh;
}

.sidebar {
    background-color: #3F4D54;
    width: 90px;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.topbar {
    height: 90px;
    width: calc(100% - 90px);
    background: white;
    position: fixed;
    display: flex;
    box-shadow: 4px 0px 9px 2px #ccc;
}
.page-content {
    padding-top: 90px;
    width: 100%;
    min-height: 100vh;
}
.page-footer {
    height: 300px;
    background-color: #3F4D54;
    width: 100%;
}

