@using Blazored.Toast.Configuration
@using Quanda.Client.Authentication
@inherits LayoutComponentBase
@inject HttpClientInterceptorService _interceptorService
@implements IDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="3" IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                ShowProgressBar=true
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

@code
{
    protected override void OnInitialized()
    {
        _interceptorService.RegisterEvents();
    }

    public void Dispose()
    {
        _interceptorService.DisposeEvents();
    }
}
