.page {
    background-color: #f6f6f6;
    color: black;
    height: 100vh;
    margin-left: 90px;
    width: calc(100% - 90px);
}

.page-dark {
    background-color: #49555C;
    color: #F6F6F6;
}

.sidebar {
    background-color: #3F4D54;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    width: 90px;
    z-index: 2;
}

.topbar {
    background: white;
    box-shadow: -3px -13px 15px 13px #ccc;
    display: flex;
    height: 90px;
    position: fixed;
    width: calc(100% - 90px);
}

.topbar-dark {
    background: #3F4D54;
    box-shadow: -3px -13px 15px 13px #333F44;
}

.page-content {
    min-height: 100vh;
    padding-top: 90px;
    width: 100%;
}

.page-footer {
    background-color: #3F4D54;
    height: 300px;
    width: 100%;
}