.logo { padding: 15px; }

.side-menu-item {
    display: flex;
    width: 100%;
}

.quanda-icon {
    color: #F6F6F6;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    text-align: center;
    transition: color 0.5s;
}

.quanda-icon:hover { color: #fff; }

.active { color: #fff; }

.navbar-label {
    color: #F6F6F6;
    padding-bottom: 15px;
    text-align: center;
    transition: color 0.5s;
}

.navbar-label:hover { color: #fff; }

.menu-divider {
    background: #fff;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
}